// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  background: lightgray;
  height: 100px;
  border: 20px darkgray solid;
  margin: -10px;
  font-family: helvetica;
  color: darkgray;
  font-size: 100px;
  text-align: center;
}

h1 {
  color: darkred;
}

td {
  font-family: helvetica;
  font-size: 16ems;
  color: darkgray;
}
